Options All -Indexes

RewriteEngine on

RewriteBase /mis/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/?$ index.php?page=$1 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/(.+)/?$ index.php?page=$1/$2 [QSA,L]

<Files .htaccess>
  	Order Allow,Deny
  	Deny from all
</Files>

#<FilesMatch "\.(php|pl|py|cgi|html?)$">
#  	Order Deny,Allow
# 	Deny from all
#</FilesMatch>

